<h1>{{ title }}</h1>

<table>
    <tr>
        <td>Dname</td>
        <td>Dnumber</td>
        <td>Mgr_ssn</td>
        <td>Mgr_start_date</td>
    </tr>
    {{#each dept_res}}
    {{!-- 여기서 바로 form action을 사용할 수도 있지만 --}}
    <form method="post">
        <tr>
            {{!-- input tag를 사용하여 입력 가능한 형태로 변경함(다른 방법도 검색하면 있음) --}}
            {{!-- placeholder == 텍스트 박스에 미리 들어가 있는 문자열 --}}
            <td><input type="text" name="dname" placeholder={{Dname}} /></td>
            <td>{{Dnumber}}</td>
            <td>{{Mgr_ssn}}</td>
            <td>{{Mgr_start_date}}</td>
            {{!-- formaction 속성을 활용하여 입력한 값을 넘겨줌 --}}
            {{!-- 이런 식으로 input 태그 안에서 form action을 사용해 값을 줄 수도 있음 --}}
            <td><input type="submit" value="수정" formaction="/update/department" /></td>
        </tr>
    </form>
    {{/each}}
</table>